 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --pColor: #f8f8ff;
    --secColor1: #476DFB;
    --secColor2: #DC0404;
    --tertiaryColor: #6e7476; 
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    background-color: var(--pColor);
}

img {
    width: 100%;
    height: auto;
}

video {
    width: 100%;
    height: auto;
}

nav {
    width: 100%;
    background-color: var(--tertiaryColor);
}

nav .nav-container {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
}

nav .logo {
    width: 20%;
}

nav .logo img {
    width: 100%;
    height: 100%;
}

nav .nav-items {
    display: none;
}

nav .login {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin-right: .65rem;
}

nav .login .fa-magnifying-glass {
    color: var(--pColor);
}

nav .login a {
    color: var(--pColor);
    text-decoration: none;
}

/* Main Section - Video Trailer Section*/
main {
    width: 100%;
    background-color: var(--pColor);
    padding: .5rem .5rem;
}

main .videoSlides-container {
    position: relative;
    width: 100%;
    margin: auto;
    border-radius: 1rem;
}

.videoSlides-container .caroussel-button {
    position: absolute;
    color: var(--pColor);
    font-size: 3rem;
    opacity: .7;
    top: 50%;
    z-index: 1;
}

.videoSlides-container .next {
    right: 0;
}

main .videoSlides-container .video-slide {
    position: relative;
    border-radius: 1rem;
}

main .videoSlides-container .video-slide > .video video {
    border-radius: 1rem;
}

main .videoSlides-container .video-slide > .movie-details {
    height: 98%;
    width: 100%;
    color: var(--pColor);
    background-color: rgba(128, 128, 128, 0.4);
    position: absolute;
    top: 0;
    padding: 0 1rem 1rem 1rem;
    border-radius: 1rem;
}

.movie-details > .details-container {
    height: 100%;
    width: 90%;
    position: relative;
    display: grid;
    align-items: center;
    gap: 1rem;
    top: 8%;
    bottom: 8%;
    padding-left: 1.5rem;
}

.movie-details > .details-container > div {
    display: none;
}

.movie-details h1 {
    font-size: 1.5rem;
}

.movie-details button{
    width: fit-content;
    background-color: transparent;
    padding: .75rem;
    border-radius: .5rem;
}

.movie-details button a {
    color: var(--pColor);
    font-size: 1rem;
    text-decoration: none;
}

/* Search section */
section {
    background-color: var(--tertiaryColor);
}

.search {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 3rem;

}

.search input[type="search"] {
    width: 80%;
    max-width: 800px;
    padding: 1rem .5rem;
    border: none;
    border-radius: .5rem;
}

.search span {
    width: 50px;
    height: 50px;
    display: grid;
    align-items: center;
    border: 1px solid var(--pColor);
    border-radius: 50%;
}

.search span .fa-right-long {
    color: var(--pColor);
    padding: .5rem;
}

/* Movies listing section */
.mobile-listing-header {
    width: 100%;
    max-width: 1400px;
    color: var(--pColor);
    display: grid;
    justify-content: center;
    padding-bottom: 1rem;
}

.mobile-listing-header > h1 {
    justify-self: center;
    margin-bottom: .5rem;
}

.mobile-listing-header > div {
    display: flex;
    gap: 3rem;
}

.mobile-listing-header > div a {
    text-decoration: none;
    color: var(--pColor);
}

.mobile-listing-header > div a:hover {
    text-decoration: underline;
}

.genres, .movies, .series {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 0 .5rem;
    padding-bottom: 2rem;
}

.genres > h2, .movies > h2, .series > h2 {
    color: white;
}

.listing-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
    gap: 1rem;
}

.listing-container > div {
    border: 1px solid white;
}

.movies, .series {
    display: none;
}




@media (min-width: 500px) {
  .listing-container { grid-template-columns: repeat(2, 1fr); }
}


@media screen and (min-width: 800px) {    
    nav .nav-container {
        max-width: 1400px;
        padding: 1rem 1rem;
    }
    
    nav .logo {
        width: 10%;
    }
    
    nav .logo img {
        width: 100%;
        height: 100%;
    }
    
    nav .nav-items {
        width: 60%;
        display: flex;
        justify-content: center;
        gap: 2rem;
        font-size: 1.2rem;
    }

    nav .nav-items a {
        text-decoration: none;
        color: var(--pColor);
    }
    
    /* Main Section - Video Trailer section (Desktop) */
    main .videoSlides-container {
        max-width: 1400px;
    }
 
    main .videoSlides-container .video-slide > .movie-details {
        height: 99.5%;
    }

    .movie-details > .details-container {
        width: 90%;
        height: 50%;
        top: 30%;
        position: relative;
        padding-left: 3rem;
    }

    .movie-details > .details-container > div {
        display: block;
    }
    
    .movie-details .details-container h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .movie-details .details-container > div p {
        font-size: 1rem;
    }
    
    .movie-details button{
        width: fit-content;
        background-color: var(--secColor2);
        padding: 1rem;
        border: none;
        border-radius: 1rem;
    }
    
    .movie-details button a {
        color: var(--pColor);
        font-size: 1.5rem;
        text-decoration: none;
    } 

    /* Movie Listing section */
    .mobile-listing-header {
    display: none;
    }
    
}


@media (min-width: 750px) {
  .listing-container { grid-template-columns: repeat(3, 1fr); }
}


@media screen and (min-width: 1000px) {
    .movie-details > .details-container {
        position: relative;
        top: 40%;
        height: 50%;
    }

    .movie-details .details-container h1 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    .movie-details .details-container > div p {
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {
  .listing-container { grid-template-columns: repeat(4, 1fr); }
}